<mat-card class="tracking-list-card">
    <mat-card-title>
        <mat-toolbar>
            <span>Welcome to your Task/Activities Page</span>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
        <mat-table [dataSource]="tasks" class="mat-elevation-z1">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> SL No </mat-header-cell>
                <mat-cell *matCellDef="let task">{{task.id}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdDate">
                <mat-header-cell *matHeaderCellDef> Date/Time </mat-header-cell>
                <mat-cell *matCellDef="let task">{{task.createdDate}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="empRole">
                <mat-header-cell *matHeaderCellDef> Employee Role </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.empRole}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.message}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="createdBy">
                <mat-header-cell *matHeaderCellDef> Created By </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{task.createdBy}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>


    </mat-card-content>
</mat-card>