<div class="mat-app-background basic-container">
    <mat-toolbar color="primary">
        <div>
            <span>POC Application</span>
        </div>
        <div class=" nav-menu"  >
            <button mat-flat-button color="primary"  (click)="home()"><span>Home</span></button>
            <button mat-flat-button color="primary" *ngIf="isUserLoggedIn"  (click)="addTask()"><span>Add Task</span></button>
            <button mat-flat-button color="primary" *ngIf="isUserLoggedIn" (click)="tasks()"><span>Tasks</span></button>                           
        </div>
        <div class="login-block" *ngIf="isUserLoggedIn">
            <span>{{loggedInUser}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon class="mat-icon-nav" aria-hidden="false" aria-label="">account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
        <div class="login-block" *ngIf="!isUserLoggedIn">
                <button mat-flat-button color="primary"  (click)="loginNav()">
                    <span>Login</span>
                </button>
        </div> 
    </mat-toolbar>
</div>

<router-outlet></router-outlet>