.spacer {
    flex: 1 1 auto;
  }

.login-block {
    text-align: right;
    width: 100%;
}
.mat-icon-nav {
    vertical-align: bottom;
    padding: 5px;
}
body {
    background: #f3f3f3;
}
.nav-menu {
    text-align: left;
    padding-left: 35px;
}